{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
  <h1 class="fw-bold mb-4">Panel del administrador</h1>
  <div class="row g-4 mb-4">
    <div class="col-md-6 col-xl-3"><div class="stat-box stat-pink"><div class="stat-emoji">👥</div><h3>{{ total_usuarios }}</h3><p>Usuarios</p></div></div>
    <div class="col-md-6 col-xl-3"><div class="stat-box stat-blue"><div class="stat-emoji">👩‍🏫</div><h3>{{ total_profesores }}</h3><p>Profesores</p></div></div>
    <div class="col-md-6 col-xl-3"><div class="stat-box stat-green"><div class="stat-emoji">🧒</div><h3>{{ total_estudiantes }}</h3><p>Estudiantes</p></div></div>
    <div class="col-md-6 col-xl-3"><div class="stat-box stat-yellow"><div class="stat-emoji">🧩</div><h3>{{ total_actividades }}</h3><p>Actividades</p></div></div>
  </div>
</div>
{% endblock %}
